{% if categories %}
    <ul>
    {% for cat in categories %}
        <li><a href="{% url 'etsy:listings' cat.id %}">{{ cat.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}