<h2> {{listing.title}} </h2>

<h3> Description </h3>
<p> {{listing.description}} </p>
{% if listing.styles.all %}
    <h3> Styles </h3>
    {% for s in listing.styles.all %}
        <li>{{ s.name }}</li>
    {% endfor %}
{% endif %}

{% if listing.materials.all %}
    <h3> Materials </h3>
    {% for m in listing.materials.all %}
        <li>{{ m.name }}</li>
    {% endfor %}
{% endif %}

{% if listing.tags.all %}
    <h3> Tags </h3>
    {% for t in listing.tags.all %}
        <li>{{ t.name }}</li>
    {% endfor %}
{% endif %}
<br>

<h3> Category </h3>
<p> {{listing.category}}</p>
{% if keywords %}
    <h3 style="color:red"> Suggested keywords </h3>
    {% for word, metric in keywords %}
        <li style="color:red">{{ word }}</li>
    {% endfor %}
{% else %}
<form action="{% url 'etsy:listing_keywords' listing.id %}" method="GET">
  <input type="submit" value="Suggest keywords">
</form>
{% endif %}

{% if similar %}
<h3 style="color:red"> Similar items </h3>
    {% for s in similar %}
        <li><a href="{% url 'etsy:listing' s.id %}" style="color:red">{{ s.title }}</a></li>
    {% endfor %}
{% endif %}

{%if recommended_tags %}
<h3 style="color:red"> Recommended tags </h3>
    {% for t in recommended_tags %}
        <li style="color:red">{{ t }}</li>
    {% endfor %}
{% endif %}

{% if topics %}
<h3 style="color:red"> Topic Terms </h3>
    {% for tt in topics %}
        <li style="color:red">{{ tt }}</li>
    {% endfor %}
{% endif %}