{% if category %}
    <h2> Items for category {{category.name}} </h2>
{% else %}
    <h2> Items used for tesing </h2>
{% endif %}

{% if test_set %}
    {% regroup listings by category as categories_list %}
    {% for category in categories_list %}
        <h3>{{ category.grouper }}</h3>
        <ul>
            {% for item in category.list %}
              <li><a href="{% url 'etsy:listing' item.id %}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}

{% else %}
    {% if listings %}
        <ul>
        {% for list in listings %}
            <li><a href="{% url 'etsy:listing' list.id %}">{{ list.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No items currently available for category {{category.name}}.</p>
    {% endif %}
{% endif %}